# Introduction to machine learning
## HSE Lyceum (18.10)

### Вам предстоит самим выполнить следующее задание. По данным о пассажирах корабля Титаник необходимо предсказать, выживет тот или иной пассажир или нет. Файлы с данными положите в папку рядом с этим jupyter-notebook

### В заданиях уже написаны многие из функций, которые нужно использовать. Ваша задача заключается в том числе в том, чтобы погуглить, как их правильно использовать - это полезный навык

### Импортируем необходимые пакеты

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, roc_curve
import math
%matplotlib inline

### Загрузите данные из файла train_lyc.csv функцией read_csv из пакета pandas:

In [2]:
data = pd.read_csv("train_lyc.csv")

Выведите несколько верхних строк, применив функцию head() к полученному датафрейму:

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S
1,1,1,2,"Mellors, Mr. William John",male,19.0,0,0,SW/PP 751,10.5000,NaN,S
2,2,0,3,"Heininen, Miss. Wendla Maria",female,23.0,0,0,STON/O2. 3101290,7.9250,NaN,S
3,3,1,2,"Kelly, Mrs. Florence ""Fannie""",female,45.0,0,0,223596,13.5000,NaN,S
4,4,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C

## Обучение

Определите, какие признаки являются значимыми, и оставьте в датафрейме только их. Столбец PassabgerId не выкидывайте - он обязателен для сдачи решения в систему. Выкинуть ненужные столбцы можно функцией drop (если выдает ошибку - обратите внимание на аргумент axis), оставить нужные - при помощи индексации (например, чтобы оставить в таблице d столбцы "A" и "B", можно написать d[["A", "B"]])

В исходных данных могут оказаться значения, равные NaN - значит, этих данных просто нет. Удалите строки с такими значениями, использовав функцию dropna:

Некоторые данные, такие, как пол пассажира, для обучения необходимо представить в виде чисел. Можно обозначить один из гендеров за 1, а другой за -1. Сделать такую замену можно подобной конструкцией:
d.loc[d.A == "smth", "smth"] = 1

Раздете выборку на обучающую и тестовую функцией train_test_split:

Функция выводы ROC-кривой на экран. Используйте ее, чтобы визуализировать качество своего алгоритма.

In [2]:
def draw_roc(y_model, y_true):
    plt.figure(figsize=(7, 6))
    fpr, tpr, thresholds = roc_curve(y_true, y_model, pos_label=1)
    lw = 2
    plt.plot(fpr, tpr, lw=lw, label='ROC curve')
    plt.plot([0, 1], [0, 1])
    plt.xlim([-0.05, 1.0])
    plt.ylim([0.0, 1.05])
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title('ROC curve')
    plt.show()

### Попробуйте использовать логистическую регрессию для решения задачи

In [3]:
from sklearn.linear_model import LogisticRegression

Обучите логистическую регрессию со стандартными параметрами и примените полученную модель к тестовой части выборки:

Оцените качество алгоритма функцией roc_auc_score:

Выведите ROC-AUC кривую на экран функцией draw_roc:

### Сделайте те же действия для решающего дерева:

In [4]:
from sklearn.tree import DecisionTreeClassifier

### Для случайного леса:

In [5]:
from sklearn.ensemble import RandomForestClassifier

### Используйте метод k ближайших соседей:

In [6]:
from sklearn.neighbors import KNeighborsClassifier

Можно попробовать изменять параметр n_neighbors, определяющий число соседей, и посмотреть, в каком случае будет получено оптимальное решение.

## Генерируем ответ

Выберите лучший из протестированных алгоритмов. Можно даже выбрать 3 лучших и определять принадлежность объекта тому или иному классу методом простого голосования, т.е. если 2 алгоритма из 3 говорят, что пассажир не выживет, считать, что он не выживет.

Загрузите данные из файла test_lyc.csv:

Обработайте данные тем же способом, что и с предыдущей выборкой - оставьте только нужные столбцы, в которых строки заменены на числа:

Примените полученный алгоритм или композицию алгоритмов к тестовым данным:

Чтобы отправить ответ, в нем должно быть два столбца: "PassengerId" и "Survived". Самый простой способ сделать DataFrame из двух таких столбцов - сделать сначала аналогичный dict, а потом преобразовать его. Для начала сделайте dict, в котором по ключу "PassengerId" будет находиться столбец "PassengerId" из тестовой выборки (как выбрать столбцы - рассказано выше), а по ключу "Survived" - массив ответов, которые вы получили на предыдущем шаге

Теперь преобразуйте dict в DataFrame (например, если имя dict-а d, то код будет d = pd.DataFrame(d))

Полученный файл запишите в файл функцией to_csv. Обязательно передайте ей параметр index=False, иначе она запишет в файл лишний столбец

## Готово! Отправляйте полученный файл на https://www.kaggle.com/c/hselyc181018