In [1]:
iris_file_name = '../datasets/IRIS.CSV'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(iris_file_name)
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
y = df.species

In [5]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [6]:
feat_cols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
X = df[feat_cols]
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [7]:
X = df.drop(columns='species')

In [8]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [10]:
X_test

     sepal_length  sepal_width  petal_length  petal_width
4             5.0          3.6           1.4          0.2
66            5.6          3.0           4.5          1.5
105           7.6          3.0           6.6          2.1
139           6.9          3.1           5.4          2.1
112           6.8          3.0           5.5          2.1
49            5.0          3.3           1.4          0.2
125           7.2          3.2           6.0          1.8
12            4.8          3.0           1.4          0.1
147           6.5          3.0           5.2          2.0
42            4.4          3.2           1.3          0.2
54            6.5          2.8           4.6          1.5
116           6.5          3.0           5.5          1.8
97            6.2          2.9           4.3          1.3
140           6.7          3.1           5.6          2.4
47            4.6          3.2           1.4          0.2
133           6.3          2.8           5.1          1.5
83            6.0          2.7           5.1          1.6
63            6.1          2.9           4.7          1.4
88            5.6          3.0           4.1          1.3
102           7.1          3.0           5.9          2.1
52            6.9          3.1           4.9          1.5
135           7.7          3.0           6.1          2.3
24            4.8          3.4           1.9          0.2
41            4.5          2.3           1.3          0.3
70            5.9          3.2           4.8          1.8
89            5.5          2.5           4.0          1.3
13            4.3          3.0           1.1          0.1
62            6.0          2.2           4.0          1.0
27            5.2          3.5           1.5          0.2
31            5.4          3.4           1.5          0.4

In [11]:
X_train

     sepal_length  sepal_width  petal_length  petal_width
46            5.1          3.8           1.6          0.2
94            5.6          2.7           4.2          1.3
56            6.3          3.3           4.7          1.6
6             4.6          3.4           1.4          0.3
92            5.8          2.6           4.0          1.2
..            ...          ...           ...          ...
106           4.9          2.5           4.5          1.7
21            5.1          3.7           1.5          0.4
7             5.0          3.4           1.5          0.2
90            5.5          2.6           4.4          1.2
14            5.8          4.0           1.2          0.2

[120 rows x 4 columns]

In [12]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [13]:
preds = dt.predict(X_test)

In [14]:
from sklearn.metrics import accuracy_score, classification_report

In [15]:
accuracy_score(y_true=y_test, y_pred=preds)

0.9333333333333333

In [16]:
print(classification_report(y_true=y_test, y_pred=preds))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      0.80      0.89        10
 Iris-virginica       0.83      1.00      0.91        10

       accuracy                           0.93        30
      macro avg       0.94      0.93      0.93        30
   weighted avg       0.94      0.93      0.93        30

In [17]:
y_test.value_counts()

Iris-versicolor    10
Iris-setosa        10
Iris-virginica     10
Name: species, dtype: int64

# try NB classifier

In [18]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(X_train, y_train)

GaussianNB()

In [19]:
preds = nb.predict(X_test)

In [20]:
accuracy_score(y_true=y_test, y_pred=preds)

0.8666666666666667

In [21]:
print(classification_report(y_true=y_test, y_pred=preds))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       0.88      0.70      0.78        10
 Iris-virginica       0.75      0.90      0.82        10

       accuracy                           0.87        30
      macro avg       0.88      0.87      0.87        30
   weighted avg       0.88      0.87      0.87        30