In [9]:
iris_file_name = '../datasets/IRIS.CSV'

In [2]:
import pandas as pd

In [4]:
s = pd.Series([1, 2, 3])
s

0    1
1    2
2    3
dtype: int64

In [5]:
df = pd.DataFrame(data={
    'A': [1, 2], 
    'B': [5, 6]
})
df

   A  B
0  1  5
1  2  6

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      int64
 1   B       2 non-null      int64
dtypes: int64(2)
memory usage: 160.0 bytes

In [7]:
df.describe()

              A         B
count  2.000000  2.000000
mean   1.500000  5.500000
std    0.707107  0.707107
min    1.000000  5.000000
25%    1.250000  5.250000
50%    1.500000  5.500000
75%    1.750000  5.750000
max    2.000000  6.000000

In [10]:
data_iris = pd.read_csv(iris_file_name)
data_iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

# define y

In [12]:
y = data_iris.species
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object

# define X

In [14]:
X_col = ['sepal_length', 'sepal_width',
         'petal_length', 'petal_width']
X = data_iris[X_col]
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

# define ML algorithm

In [16]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()

# train "fit" your model

In [17]:
dt.fit(X, y)

DecisionTreeClassifier()

# predict

In [18]:
predicted = dt.predict(X.head())
predicted

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa'], dtype=object)

In [19]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: species, dtype: object

In [22]:
new_data = {
    'sepal_length': [5.0],
    'sepal_width': [1.2], 
    'petal_length': [3.5],
    'petal_width': [0.7]
}
new_df = pd.DataFrame(data=new_data)

In [23]:
new_df

   sepal_length  sepal_width  petal_length  petal_width
0           5.0          1.2           3.5          0.7

In [24]:
dt.predict(new_df)

array(['Iris-versicolor'], dtype=object)